/* CONFIGURACIONES GLOBALES */
*{
    box-sizing: border-box;     /* new p */
}
body{
    font-family: 'Ubuntu', sans-serif;
}
h1,h2,h3{
    color: #005677;
    text-align: center;
}
h1{font-size: 32px;}
h2{font-size: 28px;}
h3{font-size: 24px;}

/* HEADER */
.imagen__fondo{
    height: 350px;
    background-image: url(../img/wallpaper.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    
}
.posicionamiento{ position: absolute;}
.degradado{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.boton{
    text-decoration: none;
    background-color: #c4c4c4 ;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    color: black;
    padding: 15px 25px ;
    right: 0;
}
.boton:hover{
    background-color: #005677;
    color: #fff;
    cursor: pointer;      /* new p */
}
.display__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    top: 50%;
    margin-left: -166px;
    margin-top: -106px ;
    
    
}
.titulo{
    color: #fff;
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 3px; /* new p */
    word-spacing: 7px;  /* new p */
    margin: 10px;

}
.separador{
    height: 3px;
    width: 75%;
    border-radius: 15px;
    background-color: #fff;
}
.profesion{
    margin: 10px;
    color: #fff;
    font-weight: 400;
    font-style: italic;
}
.disenio-circular{
    width: 135px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;    /* new p */
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
}
.imgperfil{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.barra--color{
    height: 5px;
    background-color: #005677;
}


/* MAIN */
.header--curriculum{
    margin-top: 100px;
    text-transform: uppercase;
    word-spacing: 10px;
}

.secciones--header{
    font-style: italic;
    font-weight: 400;
}
span{
    font-weight: bold;
    font-style: italic;
}
p span{
    margin-left: 15px;
}
.secciones__padding{
    padding: 2px;
}


/* FOOTER */

.footer--text{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;  
}
footer img {
    margin: 0 10px;
    position: relative;
    top: 2px;
}

.icon--git{height: 25px;}
.icon--inst{margin-left: 40px;}

.footer--flexbox{
    display: flex;
    list-style-type: none;      /* new p */
    background-color: #005677;
    justify-content:center;
    align-items: center;
    padding: 5px;
}

/* PAGE TWO --sobreMi */

.div--fondo{
    background-color: #c4c4c4;
    border-radius: 15px;  
    margin: 30px 60px;
}
.div--texto{
    text-align: center;
    font-size: 18px;
    padding: 15px;
    line-height: 1.3;
}